// container
/*
.page{
  max-width: 800px;
  margin: 0 auto;
  font-family: "monospace", "微軟正黑體";
  box-shadow: 0px 0px 16px rgb(199, 197, 197);
  border-radius: 8px;
  padding: 12px 28px;
  color: #6c6c6c;
  box-sizing: border-box;
}
// */

.title{
  text-align: center;
}

// 表單區塊 form
.message-form{
  margin-top: 16px;
  font-size: 18px;
}

.message-text-area{
  display: block;
  margin-top: 8px;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 10px;
  border-width:	1px;
  border-style: solid;
}

.submit-button{
  margin-top: 8px;
  color: #ddd;
  background-color: #343a40;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px;
}

// 顯示留言區塊
.message-list{
  margin-top: 16px;
}

.message-error{
  margin-top: 16px;
  color: #db4c3f;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  // 垂直水平置中
  display: flex;
  align-items: center;
  justify-content: center;
}