@import "./app.scss";

html {
  font-size: 135%;
}

body {
  font-family: Helvetica, Verdana, Arial, "微軟正黑體", "Microsoft JhengHei",
    "儷黑 Pro", "LiHei Pro", sans-serif;
}

section {
  border: 2px solid #bdc3c7;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  position: relative;

  &[data-name] {
    padding: 1.8rem 1rem 1rem;

    &::before {
      z-index: 1;
      content: attr(data-name);
      pointer-events: none;
      border-radius: 0.25rem;
      padding: 0.2rem;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      background-color: #27ae60;
      font-size: 22px;
    }

    section[data-name]::before {
      background-color: #3498db;
      font-size: 18px;
    }
  }
}

$COLORS: #3498db, #9b59b6, #e67e22, #34495e;

@each $color in $COLORS {
  $i: index($COLORS, $color);

  section[data-name].style-#{$i}::before {
    background-color: $color !important;
  }
}

.my-btn {
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  transition: all 0.2s;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: #e3e3e3;
  }

  &:active {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.7);
  }
}

.button {
  position: relative;
  padding: 14px 28px;
  border: 3px solid #bdc3c7;
  box-shadow: 0 6px 0 #7f8c8d;
  background-color: #ecf0f1;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  transition: transform 0.35s, box-shadow 0.35s;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 3px 0 #95a5a6;
}

.button + .button {
  margin-right: 15px;
}
